* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* if i am being honest right now, i don't really know what am doing */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    background:  hsl(356, 100%, 66%);
}

nav {
    display: flex;

}

nav ul {
    display: none;
    justify-content: center;
    align-items: center;
    list-style: none;

}

nav ul li {

}

.menubar {
    display: none;
}

.logo {
    margin-top: 6px;
    margin-right: 15rem;

}

.hamburger {
    margin-top: 12px;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }